{% extends "menucard/base.html" %}

{% block content %}

<style>
  
    :root {
      --bg-color:{{ hotel.bgcolor }} !IMPORTANT ;
      --my-color:{{ hotel.mycolor }} !IMPORTANT ;
      --cat-color:{{ hotel.catcolor }} !IMPORTANT;
      --border-color:{{ hotel.bordercolor }} !IMPORTANT;
  
    }
    body {
      font-size: 14px;
      background: var(--bg-color);
    }
  
    #hero {
      width: 100%;
      height: 30vh;
      filter: brightness(180%);
      background-size: cover;
      position: relative;
      padding: 0;
    }

    
  
    .section-bg {
      background-color: var(--bg-color);
    }
  
    .cateogery {
      color: var(--cat-color);
      font-size: 20px;
    }
  
    .menu .menu-content span {
      background: var(--bg-color);
    }
  
  
    .box-shadow {
      border-radius: 5px;
      background: var(--bg-color);
      box-shadow:1px 4px var(--border-color);
      -webkit-box-shadow: 1px 4px var(--border-color);
  
    }
  
    .section-title p {
      color: var(--my-color);
    }
  
    .menu .menu-ingredients {
  
      color: var(--my-color);
  
    }

.imageContainer > img:hover {
  
  width: 150px;
  height: 150px;
  z-index: 10;
  position: relative;
  
  
  transition: 0.25s ease;
 
}


    
  form {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-bottom: .2rem;
    padding-top: .2rem;
    position: relative;

  }

    .veggreen{
      color:#00FF00 ;

    }

    .nonvegred{

      color: red;

    }
  
    .btn:active {
      background-color: orange;
      box-shadow: 0 5px gray;
      transform: translateY(2px);
    }
  
    .btn-sm {
  
  
      padding-top: .1rem;
      padding-left: .1rem;
      padding-right: .1rem;
      padding-bottom: .1rem;
      font-size: .7rem;
      line-height: 1.5;
    }

    @media only screen and (max-width: 600px){
    .imageContainer > img:hover {
  
  /* width: 200px;
  height: 150px; */
  z-index: 10;
  position: relative;
  
  transform: scale(1.5);
  transition: 0.25s ease;
  margin-right: 50px;
 
}
    }

  </style>


    
{% endblock content%}