{% extends "menucard/base.html" %}

{% block content %}

{% include "menucard/customcss.html" %}


<section id="hero" style="background: url('{{hotel.bgimage.url}}')  top center;width: 100%;
              height: 30vh;   filter: brightness(180%); background-size: cover;position: relative;
              padding: 0; " class="d-flex align-items-center">

    <div class="container position-relative text-left text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-6 " style="margin-top: 15px;">
          <h5> <span style="text-shadow: 2px 2px 4px #000000;">{{hotel.name}}</span></h5>
          <div style="text-shadow: 2px 2px 4px #000000; font-size: 10px;padding-bottom: 15px;">{{hotel.address}}</div>
        </div>
  
      </div>
    </div>
  </section><!-- End Hero data-aos="fade-up" data-aos-delay="200" -->

  {% endblock content%}