{% extends "menucard/base.html" %}

{% block content %}
{% include "menucard/customcss.html" %}

<script>

    var buttonClicked = null;
    function highlight(id) {
      if (buttonClicked != null) {
        buttonClicked.style.background = "rgba(255,0,0,0.8)";
      }
  
      buttonClicked = document.getElementById(id);
      buttonClicked.style.background = "rgba(255,0,0,0.6)";
    }
  
  </script>
  
  <script type="text/javascript">
    window.onload = function () {
      $("#filter").keyup(function () {
        var filter = $(this).val(),
          count = 0;
        $('#results div').each(function () {
          if ($(this).text().search(new RegExp(filter, "i")) < 0) {
            $(this).hide();
          } else {
            $(this).show();
            count++;
          }
        });
      });
    }
  </script>
  
  <!-- browse menu bottom button -->
  <script>
    $('#btnShow').click(function () {
      $('#dialog').dialog('open');
      closedialog = 0;
    });
    var closedialog;
    function overlayclickclose() {
      if (closedialog) {
        $('#dialog').dialog('close');
      }
      //set to one because click on dialog box sets to zero 
        //set to one because click on dialog box sets to zero 
      //set to one because click on dialog box sets to zero 
      closedialog = 1;
    }
    $('#dialog').dialog({
      autoOpen: false,
      closeOnEscape: true,
      modal: false,
      title: "Menu",
      width: 350,
      height: 350,
      position: { my: "bottom center", at: "center bottom ", of: window },
      open: function () {
        $(".ui-dialog-titlebar-close").hide();
        closedialog = 1;
        $(document).bind('click', overlayclickclose);
      },
      focus: function () {
        closedialog = 1;
      },
      close: function () {
        $(document).unbind('click');
      },
  
    });
  </script>
  
  <!-- stick search bar-->
  <script>
    window.onscroll = function () { myFunction() };
  
    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;
  
    function myFunction() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    }
  </script>

{% endblock content%}
  