{% extends "menucard/base.html" %}

{% block content %}
<style>

  
.wrapper {
  width: 70%;
  margin: 0 auto;
}
.notfound-page {
  width: 100%;
  float: left;
  background-color: #1a69ae;
  padding: 60px 15px;
  text-align: center;
  height: 100vh;
}
.notfound-page h4 {
  color: #eaff72;
  font-size: 200px;
  letter-spacing: 10px;
}
.notfound-page h5 {
  color: #fff;
  font-size: 38px;
  font-weight: normal;
  letter-spacing: 3px;
}
.notfound-page p {
  font-size: 15px;
  color: #fff;
  width: 80%;
  margin: 15px auto 20px;
  line-height: 22px;
}
.buttons {
  margin-top: 40px;
}
.buttons a {
  color: #ffffff;
  text-decoration: none;
  background-color: #3084ce;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 4px;
  margin: 10px 5px;
  display: inline-block;
  transition: 0.5s;
}
.buttons a:hover{
background-color: #3599f1;
}
.buttons a i {
  margin-right: 5px;
}


/*--Responsive CSS For Small Devices--*/
@media (max-width: 1200px) {
.notfound-page h1 {
  font-size: 100px;
}
.wrapper {
  width: 90%;
}
.notfound-page p {
  width: 100%;
}
.notfound-page h5 {
  font-size: 18px;
}
.buttons a {
  padding: 8px 8px;
  font-size: 15px;
}

}

</style>


<h6>+91 7306191467</h6><div class="notfound-page">
    <div class="wrapper">
      <h5>Ohh!! Receipe Not found</h5>
      <h5>Please check the address entered </h5>


      <div class="buttons">

        <a href="{% url 'menucard:landing' %}"><i class="fas fa-home"></i> Go to Home</a>
        
      </div>

{% endblock content %}