{% extends "menucard/base.html" %}

{% block content %}

 <!-- ======= Top Bar ======= -->
 <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">

      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-phone d-flex align-items-center"><span>+91 7306191467</span></i>
 

    </div>
  </div>
  </div>

  <!-- ======= Header ======= -->

  <header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="{% url 'menucard:landing' %}">Digital Menu</a>
      
        <br><span style="font-size: small;"  >
          {% if user.is_authenticated %}
          Welcome {{user.username}}
          {% endif %}
        </span>
      </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      
      <nav id="navbar" class="navbar order-last order-lg-0">
       
        <ul>
       
       {% if user.is_authenticated %}
          <li><a class="nav-link scrollto" href="/digitalmenu/logout">Logout</a></li>
          <li><a class="nav-link scrollto" href="/digitalmenu">Go to Items</a></li>
        {% else %}
        <li><a class="nav-link scrollto" href="/digitalmenu">Login</a></li>
        {% endif %}

          <li><a class="nav-link scrollto" href="#menu">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      

    </div>
  

  </header><!-- End Header -->
  <br><br><br><br><br><br>

   <!-- ======= Why Us Section ======= -->
   <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Why Us</h2>
        <!--p>Why Choose Our Restaurant</p-->
      </div>

      <div class="row">

        <div class="col-lg-4">
          <div class="box" data-aos="zoom-in" data-aos-delay="100">
            <span>01</span>
            <h4>Dashboards</h4>
            <p></p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="200">
            <span>02</span>
            <h4>SM  Management</h4>
            <p> </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="300">
            <span>03</span>
            <h4> Web Devloepment </h4>
            <p></p>
          </div>
        </div>

      </div>

    
  </section><!-- End Why Us Section -->


{% endblock content %}