{% extends "menucard/base.html" %}

{% block title %}
<title>

  {{ hotel.name}}</title>

{% endblock title %}

{% block content %}

{% include "menucard/customcss.html" %}
{% include "menucard/customheader.html" %}

  <section id="menu" class="menu section-bg">
    <div class="container">
  
      <div class="section-title ">
        <div class="header" id="myHeader" style="width: 60%;float: right; overflow: hidden ">
          <div class="sb-example-1">
            <div class="search">
              <input id="filter" type="text" class="searchTerm" placeholder="What are you looking for?">
              <button type="submit" class="searchButton">
                <i class="fa fa-search" style="color: lightgrey;"></i>
              </button>
            </div>
          </div>
        </div>
        <p id="recommended"> Menu</p>
        
        {% if hotel.pureveg %}
        <button id="veg" type="submit" class="btn btn-success btn-sm active"
        style="border-radius: 50%;box-shadow: 0px 4px green" value="" name="type">veg</button>
        {% else %}
  
        <form id='all' action="">
          <input id='allbutton' type="submit" value="&nbsp;all&nbsp;" class="btn btn-warning btn-sm active" style="border-radius: 50%;box-shadow: 0px 4px white"; >
        </form>
  
  
        <form id='veg' action="">
    <input id='vegbutton' type="submit" value="veg" class="btn btn-light btn-sm active"
    style="border-radius: 50%;box-shadow: 0px 4px white">
  </form>

  <form id='non-veg' action="">
    <input id='nonvegbutton' type="submit" value="non" class="btn btn-light btn-sm active "
    style="border-radius: 50%;box-shadow: 0px 4px white" >
  </form>

  
  {% endif %}

  </div>
 <div id="results"></div>

  <div id='result1'></div>

</div>
</section>
<!-- End Menu Section -->
<div class="myButtonContainer">
  <div id="mybutton" style="z-index: 9">
    <!--button class="feedback toggle">Browse Menu</button-->
    <input class="feedback" type="button" id="btnShow" style="z-index: 9" value="Browse Menu" />
    
    <div id="dialog"  style="display:none;">
     
     
    </div>
    <div>
      <a href="{{hotel.whatsapplink}}" target="_blank"> <img src="/static/assets/img/wa1.png" id="wa" style="z-index: 9"
          alt=""></a>
    </div>
    <div>
      <a href="tel:{{hotel.mobile}}"> <img src="/static/assets/img/call.png" id="phone" style="z-index: 9" alt=""></a>

    </div>
  </div>
  
  
</div>

<p class="ml-3">{{hotel.message1}}</p>
<p class="ml-3">{{hotel.message2}}</p>
<br>
<br>
<br><br>

<!-- Vendor JS Files -->
<!-- serch function -->

{% include "menucard/customscript.html" %}

{% endblock %}