{% extends "menucard/base.html" %}

{% block title %}
<title>

  {{ hotel.name}}</title>

{% endblock title %}

{% block content %}

{% include "menucard/customcss.html" %}




<!-- ======= Menu Section ======= -->
<section id="menu" class="menu section-bg">
  <div class="container">

    <div class="section-title ">
      <div class="header" id="myHeader" style="width: 60%;float: right; overflow: hidden ">
        <div class="sb-example-1">
          <div class="search">
            <input id="filter" type="text" class="searchTerm" placeholder="What are you looking for?">
            <button type="submit" class="searchButton">
              <i class="fa fa-search" style="color: lightgrey;"></i>
            </button>
          </div>
        </div>
      </div>
      <p id="recommended"> Menu</p>
      
  
      <a href="{% url 'menucard:mymenu' hotel.header %}"><button id="All" type="submit" class="btn btn-light btn-sm "
      style="border-radius: 50%;box-shadow: 0px 4px  #ccc" value="All" name="type">&nbsp;all&nbsp;</button></a>
      <a href="{% url 'menucard:mymenuveg' hotel.header %}"><button id="veg" type="submit" class="btn btn-light btn-sm" style="border-radius: 50%;box-shadow: 0px 4px  #ccc"
      value="VEG" name="type">veg</button></a>
      <button id="non-veg" type="submit" class="btn btn-danger btn-sm active"
    style="border-radius: 50%;box-shadow: 0px 4px  #bd2130" value="NON-VEG" name="type">non</button>
     
    </div>

    <div id="results">
      <div class="cateogery" data-aos="zoom-in" data-aos-delay="100"> {{hotel.specialheading}} </div>
      {% for category in details %}
      <div id="results" class="row menu-container box-shadow" data-aos="zoom-in" data-aos-delay="100">
        {% for item in category.Category.all %}
        {% if item.type == 'NON-VEG' %}
        {% if item.label %}
        <div class="col-lg-6 menu-item filter-starters imageContainer">
          {% if item.image %}
          <img src="{{item.image.url }}" class="menu-img largeimg" alt="">
          {% endif %}          
          <i class="bi bi-stop-btn " style="color: red;font-size: 15px;bottom:2px;margin-left:10px;"></i>
          <div class="menu-content">
            <span style="background: var(--bg-color);color: var(--my-color);"> {{item.title}} </span> <span
              style="background: var(--bg-color);color: var(--my-color);">
              {% if item.price == 'APS' %} {{item.price}} {% else %} ₹{{item.price}} {% endif %}</span>

          </div>
        <div class="menu-ingredients">
            {{item.description}}
          </div>

        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
      </div>
      {% endfor %}
    </div>



    {% for category in details %}

    <div id="results">
      <div id="{{category}}" class="cateogery" data-aos="zoom-in" data-aos-delay="100" style="left: 20px;padding-top: 50px;
        margin-top: -25px;"> {{category}}</div>
      <!-- {{category}} ({{category.items_count}}) </div> -->
      <div class="row menu-container box-shadow" data-aos="zoom-in" data-aos-delay="100">

        {% for item in category.Category.all %}
        <!-- very very important -->
        {% if item.type == 'NON-VEG' %}
        <div class="col-lg-6 menu-item filter-starters imageContainer">
          {% if item.image %}
          <img src="{{item.image.url }}" class="menu-img largeimg" alt="">
          {% endif %}         
          <i class="bi bi-stop-btn non-veg" style="color: red;font-size: 15px;bottom:2px;margin-left:10px;"></i>
          <div class="menu-content non-veg">
            <span style="background: var(--bg-color);;color: var(--my-color);"> {{item.title}} </span> <span
              style="background: var(--bg-color);color: var(--my-color);">
              {% if item.price == 'APS' %} {{item.price}} {% else %} ₹{{item.price}} {% endif %}</span>
          </div>

          <div class="menu-ingredients">
            {{item.description}}
          </div>

        </div>
             {% endif %}
        {% endfor %}
      </div>

 {% endfor %}

    </div>
  </div>

</section><!-- End Menu Section -->
<div class="myButtonContainer">
  <div id="mybutton" style="z-index: 9">
    <!--button class="feedback toggle">Browse Menu</button-->
    <input class="feedback" type="button" id="btnShow" style="z-index: 9" value="Browse Menu" />
    <div id="dialog" style="display: none" ;>
      <ul style="list-style:square; color:var(--my-color);">
        <li><a href="#recommended"><strong>RECOMMENDED</strong></a></li>
        {% for category in details %}

        <li><a href="#{{category}}">{{category}} <span
              style=" font-size: small;"><strong>({{category.items_count}})</strong></span></a></li>

        {% endfor %}
      </ul>
    </div>
    <div>
      <a href="{{hotel.whatsapplink}}" target="_blank"> <img src="/static/assets/img/wa1.png" id="wa" style="z-index: 9"
          alt=""></a>
    </div>
    <div>
      <a href="tel:{{hotel.mobile}}"> <img src="/static/assets/img/call.png" id="phone" style="z-index: 9" alt=""></a>

    </div>
  </div>
</div>
<p class="ml-3">{{hotel.message1}}</p>
<p class="ml-3">{{hotel.message2}}</p>
<br>
<br>
<br><br>

<!-- Vendor JS Files -->
<!-- serch function -->
{% include "menucard/customscript.html" %}
{% endblock content %}