<div class="myButtonContainer">

    <div id="mybutton">
        <!--button class="feedback toggle">Browse Menu</button-->
        <input class="feedback" type="button" id="btnShow" value="Browse Menu" />
        <div id="dialog" style="display: none" ;>

            <ul>
                <li><a href="#soup">Soup</a></li>
                <li><a href="#indianstarters">Indian Starters</a></li>
                <li><a href="#salads">Salads</a></li>
                <li><a href="#starters">Starters</a></li>
                <li><a href="#starters">Starters</a></li>
                <li><a href="#starters">Starters</a></li>
                <li><a href="#indianstarters">Indian Starters</a></li>
                <li><a href="#indianstarters">Indian Starters</a></li>
                
           
            </ul>
        </div>



        <div id="wa">
            <a href="https://wa.link/3unt79" target="_blank"> <img src="/images/wa1.png" class="wa" alt=""></a>

        </div>
        <div id="phone">
            <a href="tel:+917306191467"> <img src="/images/call.png" class="wa" alt=""></a>

        </div>
    </div>
</div>