{% extends "menucard/base.html" %}

{% block title %}
<title>

  {{ hotel.name}}</title>

{% endblock title %}


{% block content %}
<style>
  body {    
   
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center;
    
    
}

form{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;

}
</style>


<div>
  <form id='veg' action="">  
  <input type="submit"  value="Veg" >
</form>

<form id='non-veg' action="">  
  <input type="submit"  value="non-veg" >
</form>

<form id='all' action="">  
  <input type="submit"  value="all" >
</form>

   <div id='result1'></div>

</div>

<script>
  
  const vegBtn = document.getElementById("veg")
  const nonVegBtn = document.getElementById("non-veg")
  const allBtn = document.getElementById("all")
  const resultEl = document.getElementById("result1")  
  const catdata = JSON.parse("{{catdata|escapejs}}");
 
function hotelfunc(data){
    const itemdata=document.createElement('div');    
       itemdata.innerHTML=` ${data.title} ${data.price} ${data.type}`    
        resultEl.appendChild(itemdata);      
  }

  function hotelfuncveg(data){
    const itemdata=document.createElement('div'); 
    if(data.type === 'VEG'){
      itemdata.innerHTML=` ${data.title} ${data.price} ${data.type}`  
        resultEl.appendChild(itemdata);

    } 
      
  }

  
  function hotelfuncnonveg(data){
    const itemdata=document.createElement('div'); 
    if(data.type === 'NON-VEG'){
      itemdata.innerHTML=` ${data.title} ${data.price} ${data.type}`   
      resultEl.appendChild(itemdata);

    }        
  }

function hotellist(){
  const data = JSON.parse("{{data|escapejs}}");
  if (data){
      data.forEach(d => {
          hotelfunc(d);

      })
  }

}

hotellist()


function hotellistveg(){
  const data = JSON.parse("{{data|escapejs}}");
  if (data){
      data.forEach(d => {
          hotelfuncveg(d);

      })
  }

}

function hotellistnonveg(){
  const data = JSON.parse("{{data|escapejs}}");
  if (data){
      data.forEach(d => {
          hotelfuncnonveg(d);

      })
  }

}


vegBtn.addEventListener('submit',(e)=>{
e.preventDefault()
resultEl.innerHTML=''
hotellistveg()


})


nonVegBtn.addEventListener('submit',(e)=>{
e.preventDefault()
resultEl.innerHTML=''
hotellistnonveg()


})


allBtn.addEventListener('submit',(e)=>{
e.preventDefault()
resultEl.innerHTML=''
hotellist()


})


console.log(catdata)
  
</script>

{% endblock %}