{% extends "menucard/base.html" %}

  {% block content %}

  <style>

:root {
  --bg-color:#1d1f10;
  --my--color:var(--my-color) ;
  --cat--color:orange ;

}

body{
  font-size: 14px;
  background:var(--bg-color); 
}

#hero {
  width: 100%;
  height: 30vh;
  background: url("/static/assets/img/thebunker1.jpeg") top center;
  filter: brightness(150%);
  background-size: cover;
  position: relative;
  padding: 0;
}
.section-bg {
  background-color: var(--bg-color);
}
.menu .menu-content span {
  background: var(--bg-color);
}


.box-shadow{
  	background:var(--bg-color);;
    box-shadow: 1px 4px  #969696;
  	-webkit-box-shadow: 1px 4px  #969696;
    
}

  </style>

  
  <section id="hero" class="d-flex align-items-center" >
    
    <div class="container position-relative text-left text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-6 " style="margin-top: 15px;">
          <h5> <span style="text-shadow: 2px 2px 4px #000000;">THE BUNKER</span></h5>
         <div style="text-shadow: 2px 2px 4px #000000; font-size: 10px;" >Vandana Residency, Below Lavanya Hall, Agashi, Virar West, 401301.</div>
       </div>
      
      </div>
    </div>
  </section><!-- End Hero data-aos="fade-up" data-aos-delay="200" -->

  <main id="main">
    <!-- ======= Menu Section ======= -->
   
      
    
    <section id="menu" class="menu section-bg">
      <div class="container" >

        <div class="section-title ">
         
        
    <div  class="header" id="myHeader" style="width: 60%;float: right; overflow: hidden ">
        
            <div class="sb-example-1">
            <div  class="search">
                <input id="filter" type="text" class="searchTerm" placeholder="What are you looking for?">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
                
            
          </div>
      </div>
   </div>

  <p > Menu</p>
      </div>

      
      <h2 class="cateogery" > RECOMMENDED </h2>
      {% for category in menu_items %}
      {% if category.created_by_id == 3 %}
      
      <div id="results"  class="row menu-container box-shadow" data-aos="fade-up" data-aos-delay="200">
        {% for item in category.get_products  %} 
        {% if item.label %}
        <div class="col-lg-6 menu-item filter-starters imageContainer">
          {% if item.image %} 
         <img src="{{item.image.url }}" class="menu-img largeimg" alt="">
                           
         {% endif %}
         {%if item.type == 'NON-VEG' %}
         <i class="bi bi-stop-btn" style="color: red;font-size: 15px;bottom:2px;margin-left:10px;"></i>
         <div class="menu-content">
              <span style="background: var(--bg-color);color: var(--my-color);"> {{item.title}} </span> <span style="background: var(--bg-color);color: var(--my-color);"> ₹{{item.price}}</span>
         
         </div>
         {% else %}
         
         <i class="bi bi-stop-btn" style="color: #00FF00;font-size: 15px;margin-left:10px;"></i>
         <div class="menu-content">
           <span style= "background: var(--bg-color);color: var(--my-color);  "> {{item.title}} </span> <span style="background: var(--bg-color);color: var(--my-color);" > ₹{{item.price}}</span>                    
         </div>
         {% endif %}

         <div class="menu-ingredients">
           {{item.description}} 
         </div>
         
        </div>
        {% endif %}
        
         {% endfor %}
    
        
      </div>
      
      {% endif %}
      
        {% endfor %}
      
       
         
      {% for category in bunker %}
      {% if category.created_by_id == 3 %}
  
      <h2 id="{{category}}" class="cateogery" style="left: 20px;padding-top: 50px;
      margin-top: -25px;"> {{category}}({{category.items_count}}) </h2>
      
      <div id="results"  class="row menu-container box-shadow" data-aos="fade-up" data-aos-delay="200">
        
        {% for item in category.get_products  %} 
              <div class="col-lg-6 menu-item filter-starters imageContainer">
               {% if item.image %} 
              <img src="{{item.image.url }}" class="menu-img largeimg" alt="">
                                
              {% endif %}
              {%if item.type == 'NON-VEG' %}
              <i class="bi bi-stop-btn" style="color: red;font-size: 15px;bottom:2px;margin-left:10px;"></i>
              <div class="menu-content">
                   <span style="background: var(--bg-color);;color: var(--my-color);"> {{item.title}} </span> <span style="background: var(--bg-color);color: var(--my-color);"> ₹{{item.price}}</span>
              
              </div>
              {% else %}
              
              <i class="bi bi-stop-btn" style="color: #00FF00;font-size: 15px;margin-left:10px;"></i>
              <div class="menu-content">
                <span style= "background: var(--bg-color);;color: var(--my-color);  "> {{item.title}} </span> <span style="background: var(--bg-color);color: var(--my-color);" > ₹{{item.price}}</span>                    
              </div>
              {% endif %}

              <div class="menu-ingredients">
                {{item.description}} 
              </div>
            
            </div>
    
        {% endfor %}
        
      </div>
      
      {% endif %}
      {% endfor %}
     
    </div>
       
    </section><!-- End Menu Section -->


    

    
        <div class="myButtonContainer">

          <div id="mybutton" style="z-index: 9">
              <!--button class="feedback toggle">Browse Menu</button-->
              <input class="feedback" type="button" id="btnShow" style="z-index: 9" value="Browse Menu" />
              <div id="dialog" style="display: none" ;>

                  <ul>
                    {% for category in bunker %}
                  {% if category.created_by_id == 3 %}
        
            
                      <li><a href="#{{category}}">{{category}}({{category.items_count}})</a></li>

                      {% endif %}
                      {% endfor %}
                   
                 
                  </ul>
              </div>



              <div >
                  <a href="https://wa.link/3unt79" target="_blank"> <img src="/static/assets/img/wa1.png" id="wa" style="z-index: 9"  alt=""></a>

              </div>
              <div >
                  <a href="tel:+917306191467"> <img src="/static/assets/img/call.png"  id="phone" style="z-index: 9" alt=""></a>

              </div>
          </div>
          </div>
          <br>
          <br>
          <br><br>

  <!-- Vendor JS Files -->

<script type="text/javascript">
$(function () {
$("#btnShow").click(function () {
    $("#dialog").dialog({
      closeOnEscape:true,
        modal: false,
        title: "Menu",
       width: 300,
        height: 300,
        position: { my: "bottom center", at: "center bottom ", of: window },
        open: function (event, ui) {
            setTimeout(function () {
                $("#dialog").dialog("close");
            }, 4000);
        }
    });
});
});
</script>


<script type="text/javascript">
window.onload=function(){      
$("#filter").keyup(function() {

var filter = $(this).val(),
count = 0;

$('#results div').each(function() {

if ($(this).text().search(new RegExp(filter, "i")) < 0) {
  $(this).hide();

} else {
  $(this).show();
  count++;
}
});
});
}
</script>

<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
if (window.pageYOffset > sticky) {
header.classList.add("sticky");
} else {
header.classList.remove("sticky");
}
}
</script>


 

{% endblock content %}